:root {
  font-family: "Anton", sans-serif;
  font-size: 26pt;
  /*color scheme in HEX*/
  --clr-black: #00080d;
  --clr-beige: #d9d5a3;
  --clr-redw: #d9415d;
  --clr-redc: #bf3459;
  --clr-bordo: #590a18;
}

body {
  margin: 0;
  box-sizing: border-box;
}
* {
  font-family: var(font-family);
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: satoshi;
  font-weight: 800;
}

/*minor styling to prepare template*/

.actorFeed {
  background-color: var(--clr-black);
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
  padding: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  padding-left: 3em;
}

.actorContainer {
  background-color: var(--clr-redc);
  box-shadow: var(--clr-bordo) 15px 13px 9px;
  max-width: 10em;
  height: auto;
}

h4,
h5 {
  margin: 0.2rem;
}
